.weeks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.week-box {
    width: 100%;
    margin: 0.7rem 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.625rem;
}

@media only screen and (min-device-width: 641px) and (min-width: 641px) {
    .week-box {
        width: 31.5%;
        margin: 1.25rem 0;
    }
}